<div class="header"></div>
<nav id="nav" class = "navbar navbar-dark" style="background-color:#60C394;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile">Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/user/graph">View Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/user/expvsbgt">Exp. vs Bgt.</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/users/logout" id="logout-but">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/about" id="about-but">ABOUT-US</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile" id="hey">..</a>
            </li> --}}
         </ul>
      </nav>
    <div id="here"></div>

<div id="mixChartContainer" style="width:80%;padding-top:100px;">
   <canvas id="canvas" ></canvas>
</div>

<h4>Total expense in {{category}} category all time is  {{totalExp}} INR</h4>
<script>
var ctx = document.getElementById('canvas').getContext('2d');
var mixedChart = new Chart(ctx, {
  type: 'bar',
  data: {
      datasets: [{
          label: 'Expense',
          data: [{{totalExp}}],
          backgroundColor:['rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)']
      }],
      labels: ['All time Expense in INR']
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }
  }
});

</script>
